 .card-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 60px;
 }

 .card {
   border-radius: 1.5rem;
   cursor: pointer;
   perspective: 1000px;
   width: 10rem;
   height: 14rem;
   background: none;
   border: none;


 }

 .card-inner,
 .open-cards {
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
 }


 .card-front,
 .card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;

 }

 .card-front {
   background: none;
   color: black;
   border: none;
 }

 .card-back {

   transform: rotateY(180deg);

 }

 .main-menu {
   text-align: center;
 }

 .open-cards {
   transform: rotateY(180deg);
 }


 .shuffle-animation {
   animation: shuffle 1s forwards;
 }

 .card.disabled {
   pointer-events: none;
 }

 .play-menu p {
   margin: 1rem 0;
 }

 .play-menu button {
   width: 15rem;
   padding: 1rem;
   margin: 3rem 0;
   color: white;
   border: none;
   background: #0059dd;
   border-radius: 0.5rem;
   text-transform: capitalize;
 }

 .start-game {
   display: flex;
   justify-content: space-between;
   margin: 3rem 0;
 }

 .score-board {
   text-align: center;
   margin-left: 35%;
 }
