<div class="main-menu">
  <div class="container">
    <div class="play-menu" *ngIf="playMenu==='newGame'">
      <p class="">Click Play Game Button to play the game</p>
      <button (click)='playGame()'>play game</button>
    </div>

    <div class="start-game" *ngIf="playMenu==='startGame'">
      <div class="score-board">
        <div>
          <p>Score {{score}}</p>
          <p>{{cardMatch}}</p>
        </div>
      </div>

      <div>Round {{roundCount}}</div>
    </div>
  </div>
</div>

<div class="card-container">
  <div *ngFor="let card of cards; let i = index;" class="card card{{ i }} shuffle-animation"
    (click)="openCard(i,card?.id)">
    <div [ngClass]="{ 'open-cards': flipCardStates[i], 'card-inner': !flipCardStates[i] }">
      <div class="card-front">
        <img [src]="card?.image" class="card-img-top" alt="Card Image" />
      </div>
      <div class="card-back">
        <img src="assets/images/Card_back_01.svg" class="card-img-top" alt="Card Image" />
      </div>
    </div>
  </div>
</div>
